@import "./base";

.main-swiper {
  position: relative;
  width: 100%;
  height: 100vh;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: grayscale(30%) invert(10%);
    }
  }
  .info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    @include Flex(column, space-between, wrap);
    align-items: center;
    text-align: center;
    gap: 2rem;

    .intro {
      font-size: 2vw;
      color: $txt-color;
    }

    a {
      align-self: flex-start;
      margin-left: 3rem;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      padding: 1.5rem;
      font-size: 30px;
      border-radius: 50px;
      background-color: $secondary-color;
      color: $txt-color;
      border: 3px solid $txt-color;
      box-shadow: 10px 10px 0 $txt-color, 15px 15px 0 $txt-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $txt-color;
        color: $secondary-color;
        border: 3px solid $secondary-color;
        box-shadow: 10px 10px 0 $secondary-color, 15px 15px 0 $secondary-color;
      }
    }

    @media screen and (max-width: 500px) {
        .intro{
            font-size: 5vw;
        }
        a{
            font-size: 15px;
            box-shadow: 5px 5px 0 $txt-color, 10px 10px 0 $txt-color;
        }
    }
  }
}


.sec-2-root{
  width: 100%;
  height: 100vh;
  .marquee-1, .marquee-2{
    width: 100%;
    height: 80px;
    background-color: $primary-color;
    color: $txt-color;
    position: relative;
    overflow: hidden;

    div{
      display: block;
      width: 200%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      animation: marquee-animate 5s linear infinite;
      text-align: center;
      text-transform: uppercase;
      font-size: 55px;

      span{
        float: left;
        width: 50%;
        line-height: 80px;
      }
    }

  }
  .marquee-2 div{
    animation: marquee-animate 5s linear infinite reverse;
    background-color: #fff;
    color: $primary-color;
  }
}

@keyframes marquee-animate {
  from{
    left: 0%;
  }to{
    left: -100%;
  }
}

@media  screen and (max-width: 500px) {

  .marquee-1 div, .marquee-1 div{
    width: 400%;
  }
  .marquee-1 div span, .marquee-2 div span{
    width: 5%;
    font-size: 30px;
  }
}


