@import "./base";

.main-swiper {
  .swiper-button-next, .swiper-button-prev{
    transform: scale(0.6);
    color: $txt-color-sec;
    padding: 2px;
  }
  .swiper-pagination-bullet-active{
    background-color: $txt-color-sec;
  }
  position: relative;
  width: 100%;
  height: 100vh;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: grayscale(30%) invert(10%);
    }
  }
  .info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    @include Flex(column, space-between, wrap);
    align-items: center;
    gap: 1rem;

    .intro {
      font-size: 40px;
      font-weight: 1000;
      color: $txt-color;
      padding: 10px;
      .intor-1{
        text-decoration:underline;
        text-decoration-color: $primary-color-light;
        span{
          background-color: $primary-color;
          color: $txt-color;
          padding: 2px;
          text-transform: uppercase;
          border-radius: 5px;
          box-shadow: 1px 3px 10px $primary-color;
        }
      }
    }

    a {
      align-self: flex-start;
      margin-left: 3rem;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0.7rem;
      font-size: 25px;
      border-radius: 50px;
      background-color: $secondary-color;
      color: $txt-color-sec;
      border: 3px solid $txt-color-sec;
      box-shadow: 6px 6px 0 3px $txt-color-sec;
      transition: all 0.3s ease-in-out;
      opacity: 0.9;

      &:hover {
        background-color: $primary-color;
      }
    }

    @media screen and (max-width: 500px) {
      .intro {
        font-size: 5vw;
      }
      a {
        font-size: 15px;
      }
    }
  }
}

.sec-2-root {
  width: 100%;
  overflow: hidden;
  @include Flex(column, center, nowrap);
  align-items: center;
  .marquee-1,
  .marquee-2 {
    width: 100%;
    height: 60px;
    background-color: $primary-color;
    color: $txt-color-sec;
    position: relative;
    overflow: hidden;

    div {
      display: block;
      width: 200%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      animation: marquee-animate 5s linear infinite;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;

      span {
        float: left;
        width: 50%;
        line-height: 60px;
      }
    }
  }
  .marquee-2 div {
    animation: marquee-animate 5s linear infinite reverse;
    background-color: $txt-color-sec;
    color: $primary-color;
  }

  .descreption {
    width: 80%;
    @include Flex(row, center, wrap-reverse);
    align-items: center;
    
    gap: 2rem;
    padding-block: 5rem;
    .img-btn {
      width: 500px;
      @include Flex(column, space-between, wrap);
      gap: 2rem;
      align-items: center;

      img {
        width: 100%;
        transition: all 0.5s ease-in-out;
        border: 1rem solid $primary-color;
      }
      a {
        align-self: flex-start;
        font-weight: 500;
        text-transform: capitalize;
        padding: 0.7rem;
        font-size: 25px;
        border-radius: 50px;
        background-color: $secondary-color;
        color: $txt-color-sec;
        border: 3px solid $txt-color-sec;
        box-shadow: 6px 6px 0 3px $txt-color-sec;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
    .txt {
      width: 500px;
      color: $txt-color-sec;
      font-size: 15px;
      padding-bottom: 2rem;
      border-bottom: 2px solid $txt-color-sec;
      h1 {
        color: $txt-color;
        font-size: 30px;
        text-transform: capitalize;
        padding-bottom: 1rem;
      }
      h1 span {
        color: $primary-color;
        background-color: $txt-color;
      }
    }
  }

}


@keyframes marquee-animate {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
  
.sec-root-swiper{
  width: 100%;
  height: 100vh;

  h1{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    height: 10%;
    color: $txt-color;
    text-decoration: underline;
  }

  .swiper{
    height: 70%;
    width: 90%;
    overflow: hidden;
  }
  .swiper-slide{
    width: 20%;
    border: 5px solid $secondary-color;
    height: calc(100% - 10px); // 30px is the height of the top and bottom borders
    background-color: $secondary-color;
    transition: all 0.5s ease-in-out;
    &:hover{
      border: 5px solid $txt-color-sec;
      background-color: $txt-color-sec;
      img{
        filter: grayscale(0%);
      }
      h3{
        color: $primary-color;
      }
      // transform: translateY(3px);
    }
    a{
      width: 100%;
      overflow: hidden;
      
      img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(50%);
        transition: all 0.5s ease-in-out;
      }
      h3{
        height: 20%;
        @include Flex(row, center, wrap);
        align-items: center;
        color: $txt-color-sec;
        text-align: center;
        vertical-align:middle;
        transition: all 0.5s ease-in-out;
      }
    }
    
  }
  @media screen and (max-width: 768px) {
    height: 50vh;
    padding-block: 1rem;
    h1{
      padding-bottom: 3rem;
    }
    .swiper{
      height: 50%;
      h3{
        font-size: 10px;
      }
    }
  }
}
