@use './header';
@use './footer';
@use './root';
@use './shop';
@use './game';
@use './cart';
@import './base';
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&family=Roboto:wght@300&display=swap");

body{
    width: 100%;
    position: relative;
    font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.app{
    width: 100%;
    background-color: $primary-color;
}

.container{
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
}